@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

#logs-content .list ul li i {
    float: left;
    width: 30px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    font-size: 1.3em;
}
#logs-content .list ul li span {
    float: left;
    font-weight: 300;
}

#list, #new-list, #cplt-list, #cancel-list, #in-process-list {
    position: relative;
    overflow: auto;
    height: auto;
    padding: 0;
    width: 100%;
    margin: auto;
}

.task-on-list, .task-cancelled, .task-cplted, .task-new {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid gray;
}

.add-btn{
    height: 5em;
    width: 5em; 
}

.add-btn-form{
    position: absolute;
    top: 85%;
    right: 2%;
}

.in-block-input-location{
    float: right;
}

.in-block-input-client{
    float: left;
}

.descp-form {
    height: 11.2em;
    margin-top: 5px;
}


.urgent-form {
    margin: 0.25em 0; 
}

.task-list-btn-cross {
    position: absolute;
    top: 1em;
    right: 3.625em;
    background-color: #009f45;
    color: #fff;
    border-radius: 50%;
}

.task-list-btn-check {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #fe0084;
    color: #fff;
    border-radius: 50%;
}

.done-btn {
    text-transform: uppercase;
    position: absolute;
    right: 1em;
    top: 1em;
    height: 2.8em;
    width: 7em;
    background-color: #009f45;
    color: #fff;
}

.task-image {
    height: 12em;
    width: 10em;
}

.disabled{
    display: none;
}

#my-form > input#hours, #my-form > input#kms {
    margin: 5px 0;
}